/* Primer selector */

h1 { 
    color: blue;
} 

article h2 { color: red; 
} 

/* p { color: blueviolet; }  */

/* selector con clases */

.texto { 
    color: green;
} 

/* article p { color: orange;}  

/* selector con id */
#texto2 { 
    color: brown;
} 

